body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background: linear-gradient(to top, #3979aa, #ae76bc); /* Initial gradient */
    transition: background-color 1s;
    
}
body:hover {
    background: linear-gradient(to right, #3e4497, #ff0000);
}
#customerForm {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-row: auto;
    gap: 10mm;
    padding: 20px;
    border: none;
    border-radius: 5px;
    align-items: center;
}

#customerForm label {
    margin-bottom: 5px;
    display: none;
    
}

#customerForm input[type="text"],
#customerForm input[type="email"],
#customerForm input[type="tel"] {
   
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-sizing: border-box;
}

#customerForm input[type="submit"] {
    grid-column: 1 / span 2;
    width: 100%;
    padding: 8px;
    margin-top: 15px;
    border: 2px solid rgb(80, 73, 73);
    border-radius: 3px;

    background-color:#181e4c;
    color: white;
    cursor: pointer;
}

h5{
    background-color: #f3eeeee2;
}


 
