body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#customerForm {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
}

#customerForm label {
    grid-column: 1;
    margin-bottom: 5px;
    text-align: right;
}

#customerForm input[type="text"],
#customerForm input[type="email"],
#customerForm input[type="tel"] {
    grid-column: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#customerForm input[type="submit"] {
    grid-column: 1 / span 2;
    width: 100%;
    padding: 8px;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#customerForm input[type="submit"]:hover {
    background-color: #45a049;
}

h2 {
    margin-top: 0;
}